<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#343a40">
    <title>@ViewData["Title"] - Vinance</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.min.css" />

    <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/moment.js/locale/hu.js"></script>
    <script src="~/lib/tempus-dominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <script src="~/lib/jquery-validate-bootstrap-4/jquery-validate-bootstrap-4.js"></script>
    <script src="~/js/site.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">Vinance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Index">Számlák</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Expense" asp-action="Index">Kiadások</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Income" asp-action="Index">Bevételek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Transfer" asp-action="Index">Pénzmozgások</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Category" asp-action="Index">Kategóriák</a>
                    </li>
                </ul>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <span class="navbar-text d-none d-lg-block">
                    Szia @User.Identity.Name!
                </span>
            }
            <ul class="navbar-nav">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Login">Belépés</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Register">Regisztráció</a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="Logout">Kilépés</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        @RenderBody()
    </div>

    <div class="bg-dark footer">
        <footer class="container footer-content d-flex justify-content-center align-items-center">
            <p class="text-white-50"><i class="far fa-copyright"></i> @DateTime.Now.Year - Vinance</p>
        </footer>
    </div>

    <div id="alert-div" class="alert-container"></div>
    @RenderSection("Scripts", required: false)
</body>
</html>
