@using Vinance.Contracts.Enumerations
@using Vinance.Contracts.Models.Domain
@using Vinance.Web.Components.Category
@model Vinance.Contracts.Models.PagedList<Expense>
@{
    Expense dummy = null;
}

@*<div class="row">
        <div class="col-6">
            <form asp-action="GetAll"
                  asp-controller="Expense"
                  asp-route-page="1"
                  asp-route-order="@Model.Order"
                  asp-route-type="@Model.CategoryId"
                  data-ajax-method="GET"
                  data-ajax="true"
                  data-ajax-update="#expense-list"
                  data-ajax-mode="replace">
                <div class="form-group">
                    <label for="from-datetimepicker">From</label>
                    <input type="text" autocomplete="off" name="from" class="form-control text-right" id="from-datetimepicker" data-toggle="datetimepicker" data-target="#from-datetimepicker" value="@Model.From?.ToString("yyyy-MM-dd")" />
                </div>
                <div class="form-group">
                    <label for="to-datetimepicker">To</label>
                    <input type="text" autocomplete="off" name="to" class="form-control text-right" id="to-datetimepicker" data-toggle="datetimepicker" data-target="#to-datetimepicker" value="@Model.To?.ToString("yyyy-MM-dd")" />
                </div>
                <div class="form-group">
                    <label for="categoryId">Category</label>
                    <select name="categoryId" id="categoryId" asp-items="@Model.Categories" class="custom-select">
                        <option value=""></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pagesize">To</label>
                    <select name="pagesize" id="pagesize" class="custom-select">
                        <option value="20" selected="@(Model.PageSize == 20)">20</option>
                        <option value="50" selected="@(Model.PageSize == 50)">50</option>
                        <option value="100" selected="@(Model.PageSize == 100)">100</option>
                    </select>
                </div>
                <button type="submit" class="btn-table"><i data-feather="filter"></i></button>
            </form>
        </div>
        <div class="col-6">
            @await Component.InvokeAsync(typeof(GetAllCategory), new { type = CategoryType.Expense, from = Model.From, to = Model.To })
        </div>
    </div>*@
<div class="row">
    <div class="col-12">
        <form class="form-inline mb-3"
              asp-action="GetAll"
              asp-controller="Expense"
              asp-route-page="1"
              asp-route-order="@Model.Order"
              asp-route-type="@Model.CategoryId"
              data-ajax-method="GET"
              data-ajax="true"
              data-ajax-update="#expense-list"
              data-ajax-mode="replace">
            <input type="text" autocomplete="off" name="from" class="form-control text-right mr-2" id="from-datetimepicker" data-toggle="datetimepicker" data-target="#from-datetimepicker" value="@Model.From?.ToString("yyyy-MM-dd")" />
            <input type="text" autocomplete="off" name="to" class="form-control text-right mr-2" id="to-datetimepicker" data-toggle="datetimepicker" data-target="#to-datetimepicker" value="@Model.To?.ToString("yyyy-MM-dd")" />
            <select name="categoryId" id="categoryId" asp-items="@Model.Categories" class="custom-select mr-2">
                <option value=""></option>
            </select>
            <select name="pagesize" id="pagesize" class="custom-select mr-2">
                <option value="20" selected="@(Model.PageSize == 20)">20</option>
                <option value="50" selected="@(Model.PageSize == 50)">50</option>
                <option value="100" selected="@(Model.PageSize == 100)">100</option>
            </select>
            <button type="submit" class="btn-table"><i data-feather="filter"></i></button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-7">
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered table-sm table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => dummy.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => dummy.Amount)
                            </th>
                            <th class="d-none d-sm-table-cell">
                                @Html.DisplayNameFor(model => dummy.FromName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => dummy.CategoryName)
                            </th>
                            <th class="mr-auto d-none d-sm-table-cell">
                                @Html.DisplayNameFor(model => dummy.Comment)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr class="transfer-row">
                                <td>
                                    @item.Date.ToString("MM/dd")
                                </td>
                                <td class="text-right">
                                    @item.Amount.ToString("### ### ###")Ft
                                </td>
                                <td class="d-none d-sm-table-cell">
                                    @Html.DisplayFor(modelItem => item.FromName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td class="d-none d-sm-table-cell">
                                    @Html.DisplayFor(modelItem => item.Comment)
                                </td>
                                <td class="text-center">
                                    <form class="d-inline-block"
                                          asp-controller="Expense"
                                          asp-action="Delete"
                                          data-ajax-method="POST"
                                          data-ajax="true"
                                          data-ajax-update="#expense-list"
                                          data-ajax-mode="replace"
                                          data-ajax-success="vinance.showAlert({message: 'Expense successfully deleted', class:'success'})">
                                        <input asp-for="@item.Id" class="d-none" name="expenseId">
                                        <button type="submit" class="btn-table text-danger"><i data-feather="trash"></i></button>
                                    </form>
                                    <a class="d-inline-block text-warning"
                                       asp-controller="Expense"
                                       asp-action="Edit"
                                       asp-route-expenseId="@item.Id"
                                       data-ajax="true"
                                       data-ajax-method="GET"
                                       data-ajax-update="#edit-expense"
                                       data-ajax-mode="replace"><i data-feather="edit-2"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <pagination-ajax route="/expenses/all"
                                 pagesize="@Model.PageSize"
                                 from="@Model.From"
                                 to="@Model.To"
                                 sort-order="@Model.Order"
                                 category-id="@Model.CategoryId"
                                 page="@Model.Page"
                                 target-id="expense-list"
                                 total-pages="@Model.TotalPages"></pagination-ajax>
            </div>
        </div>
    </div>
    <div class="col-5">
        @await Component.InvokeAsync(typeof(GetAllCategory), new { type = CategoryType.Expense, from = Model.From, to = Model.To })
    </div>
</div>

<script>
    vinance.initDatePicker("from-datetimepicker");
    vinance.initDatePicker("to-datetimepicker");
</script>