@using Vinance.Contracts.Enumerations
@model Vinance.Web.Models.Category.CategoryViewmodel
@{
    var type = Model.Type;
    var formId = $"edit-{type}-form";
}
<form id="@formId"
      asp-controller="Category"
      asp-action="Edit"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-update="#category-tables"
      data-ajax-mode="replace"
      data-ajax-success="vinance.showAlert({message:'Kategória módosítva', class: 'success'})"></form>
<tr>
    <td class="input-td">
        <input asp-for="Name" class="table-input" form="@formId" />
        <input asp-for="Id" type="hidden" class="table-input" form="@formId" />
    </td>
    @if (type == CategoryType.Expense)
    {
        <td class="input-td" colspan="2">
            <input asp-for="MonthlyLimit" placeholder="Havi limit" class="table-input text-right" form="@formId" />
        </td>
    }
    else
    {
        <td class="d-none">
            <input asp-for="MonthlyLimit" form="@formId" value="0" />
        </td>
        <td></td>
    }
    <td class="d-none">
        <input class="d-none" asp-for="Type" form="@formId" />
    </td>
    <td class="text-right">
        <button type="submit" class="btn-table text-success" form="@formId"><i class="fas fa-check"></i></button>
    </td>
</tr>