@using Vinance.Contracts.Models.Domain
@model Vinance.Contracts.Models.PagedList<Vinance.Contracts.Models.Domain.Transfer>
@{
    Transfer dummy = null;
}
<table class="table table-bordered table-sm table-striped">
    <thead class="thead-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => dummy.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.Amount)
        </th>
        <th class="d-none d-sm-table-cell">
            @Html.DisplayNameFor(model => dummy.FromName)
        </th>
        <th class="d-none d-sm-table-cell">
            @Html.DisplayNameFor(model => dummy.ToName)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.CategoryName)
        </th>
        <th class="d-none d-sm-table-cell">
            @Html.DisplayNameFor(model => dummy.Comment)
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr class="transfer-row">
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td class="text-right">
                @item.Amount.ToString("### ### ###")Ft
            </td>
            <td class="d-none d-sm-table-cell">
                @Html.DisplayFor(modelItem => item.FromName)
            </td>
            <td class="d-none d-sm-table-cell">
                @Html.DisplayFor(modelItem => item.ToName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td class="d-none d-sm-table-cell">
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td class="text-center">
                <form class="d-inline-block"
                      asp-controller="Transfer"
                      asp-action="Delete"
                      data-ajax-method="POST"
                      data-ajax="true"
                      data-ajax-update="#transfer-list"
                      data-ajax-mode="replace"
                      data-ajax-success="vinance.showAlert({message: 'Transfer successfully deleted', class:'success'})">
                    <input asp-for="@item.Id" class="d-none" name="transferId">
                    <button type="submit" class="btn-table text-danger"><i data-feather="trash"></i></button>
                </form>
                <a class="d-inline-block text-warning"
                   asp-controller="Transfer"
                   asp-action="Edit"
                   asp-route-transferId="@item.Id"
                   data-ajax="true"
                   data-ajax-method="GET"
                   data-ajax-update="#edit-transfer"
                   data-ajax-mode="replace"><i data-feather="edit-2"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>