@using Vinance.Contracts.Models.Domain
@model Vinance.Contracts.Models.PagedList<Vinance.Contracts.Models.Domain.Transfer>
@{
    Transfer dummy = null;
}

<div class="row">
    <div class="col-12">
        <form class="d-flex justify-content-around mb-3"
              asp-action="GetAll"
              asp-controller="Transfer"
              asp-route-page="1"
              asp-route-order="@Model.Order"
              asp-route-type="@Model.CategoryId"
              data-ajax-method="GET"
              data-ajax="true"
              data-ajax-update="#transfer-list"
              data-ajax-mode="replace">
            <input type="text" autocomplete="off" name="from" class="form-control text-right mr-2" id="from-datetimepicker" data-toggle="datetimepicker" data-target="#from-datetimepicker" value="@Model.From?.ToString("yyyy-MM-dd")" />
            <input type="text" autocomplete="off" name="to" class="form-control text-right mr-2" id="to-datetimepicker" data-toggle="datetimepicker" data-target="#to-datetimepicker" value="@Model.To?.ToString("yyyy-MM-dd")" />
            <select name="accountId" id="accountId" asp-items="@Model.Accounts" class="custom-select mr-2">
                <option value="">Számla</option>
            </select>
            <select name="pagesize" id="pagesize" class="custom-select mr-2">
                <option value="20" selected="@(Model.PageSize == 20)">20</option>
                <option value="50" selected="@(Model.PageSize == 50)">50</option>
                <option value="100" selected="@(Model.PageSize == 100)">100</option>
            </select>
            <select name="sortorder" id="sortorder" class="custom-select mr-2">
                <option value="date_desc" selected="@(Model.Order == "date_desc")">Legújabb elöl</option>
                <option value="date" selected="@(Model.Order == "date")">Legrégebbi elöl</option>
                <option value="amount_desc" selected="@(Model.Order == "amount_desc")">Legdrágább elöl</option>
                <option value="amount" selected="@(Model.Order == "amount")">Legolcsóbb elöl</option>
            </select>
            <button type="submit" class="btn btn-primary">Szűrés</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered table-sm table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => dummy.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => dummy.Amount)
                            </th>
                            <th class="d-none d-sm-table-cell">
                                @Html.DisplayNameFor(model => dummy.FromName)
                            </th>
                            <th class="d-none d-sm-table-cell">
                                @Html.DisplayNameFor(model => dummy.ToName)
                            </th>
                            <th class="d-none d-sm-table-cell">
                                @Html.DisplayNameFor(model => dummy.Comment)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Model.Items.Any())
                        {
                            <tr>
                                <td colspan="7">
                                    Még nincsenek pénzmozgásaid.
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model.Items)
                            {
                                <tr class="transfer-row">
                                    <td>
                                        @item.Date.ToShortDateString()
                                    </td>
                                    <td class="text-right">
                                        @item.Amount.ToString("### ### ###")Ft
                                    </td>
                                    <td class="d-none d-sm-table-cell">
                                        @Html.DisplayFor(modelItem => item.FromName)
                                    </td>
                                    <td class="d-none d-sm-table-cell">
                                        @Html.DisplayFor(modelItem => item.ToName)
                                    </td>
                                    <td class="d-none d-sm-table-cell">
                                        @Html.DisplayFor(modelItem => item.Comment)
                                    </td>
                                    <td class="text-center">
                                        <form class="d-inline-block"
                                              asp-controller="Transfer"
                                              asp-action="Delete"
                                              data-ajax-method="POST"
                                              data-ajax="true"
                                              data-ajax-update="#transfer-list"
                                              data-ajax-mode="replace"
                                              data-ajax-success="vinance.showAlert({message: 'Transfer successfully deleted', class:'success'})">
                                            <input asp-for="@item.Id" class="d-none" name="transferId">
                                            <button type="submit" class="btn-table text-danger"><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                        <a class="d-inline-block text-warning"
                                           asp-controller="Transfer"
                                           asp-action="Edit"
                                           asp-route-transferId="@item.Id"
                                           data-ajax="true"
                                           data-ajax-method="GET"
                                           data-ajax-update="#edit-transfer"
                                           data-ajax-mode="replace"><i class="fas fa-pen"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <pagination-ajax pagesize="@Model.PageSize"
                                 asp-controller="Transfer"
                                 asp-action="GetAll"
                                 from="@Model.From"
                                 to="@Model.To"
                                 sort-order="@Model.Order"
                                 category-id="@Model.CategoryId"
                                 page-number="@Model.Page"
                                 target-id="transfer-list"
                                 total-pages="@Model.TotalPages"></pagination-ajax>
            </div>
        </div>
    </div>
</div>
<script>
    vinance.initDatePicker("from-datetimepicker");
    vinance.initDatePicker("to-datetimepicker");
</script>