@model IEnumerable<Vinance.Contracts.Models.Domain.Income>

<table class="table table-bordered table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th class="d-none d-sm-table-cell">
                @Html.DisplayNameFor(model => model.ToName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th class="d-none d-sm-table-cell">
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="transfer-row">
                <td>
                    @item.Date.ToString("MM/dd")
                </td>
                <td class="text-right">
                    @item.Amount.ToString("### ### ###")Ft
                </td>
                <td class="d-none d-sm-table-cell">
                    @Html.DisplayFor(modelItem => item.ToName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td class="d-none d-sm-table-cell">
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td class="text-center">
                    <form class="d-inline-block"
                          asp-controller="Income"
                          asp-action="Delete"
                          data-ajax-method="POST"
                          data-ajax="true"
                          data-ajax-update="#income-list"
                          data-ajax-mode="replace"
                          data-ajax-success="vinance.showAlert({message: 'Income successfully deleted', class:'success'})">
                        <input asp-for="@item.Id" class="d-none" name="incomeId">
                        <button type="submit" class="btn-table text-danger"><i data-feather="trash"></i></button>
                    </form>
                    <a class="d-inline-block text-warning"
                       asp-controller="Income"
                       asp-action="Edit"
                       asp-route-incomeId="@item.Id"
                       data-ajax="true"
                       data-ajax-method="GET"
                       data-ajax-update="#edit-income"
                       data-ajax-mode="replace"><i data-feather="edit-2"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>