@model IEnumerable<Vinance.Contracts.Models.Domain.Income>

<table class="table table-striped" id="income-list">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <form class="d-inline-block"
                      asp-controller="Income"
                      asp-action="Delete"
                      data-ajax-method="POST"
                      data-ajax="true"
                      data-ajax-update="#income-list"
                      data-ajax-mode="replace"
                      data-ajax-success="showAlert({message: 'Income successfully deleted', class:'success'})">
                    <input asp-for="@item.Id" class="d-none" name="incomeId">
                    <button type="submit" class="btn-table delete"><i data-feather="x"></i></button>
                </form>
                <a class="d-inline-block"
                   asp-controller="Income"
                   asp-action="Edit"
                   asp-route-incomeId="@item.Id"
                   data-ajax="true"
                   data-ajax-method="GET"
                   data-ajax-update="#create-income"
                   data-ajax-mode="replace"><i data-feather="x"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>