@using Vinance.Contracts.Enumerations
@model IEnumerable<CategoryViewmodel>

<table class="table table-bordered table-sm table-striped" id="category-list">
    <thead class="thead-dark form-group">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            @if (Model.Any(c => c.Type == CategoryType.Expense))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.MonthlyLimitUsed >= 100)
            {
                item.MonthlyLimitUsed = 100;
            }
            var color = "";
            if (item.MonthlyLimitUsed < Math.Floor((DateTime.Now.Day/30d)*100)*0.8)
            {
                color = "#2AA198";
            }
            else if (item.MonthlyLimitUsed < Math.Floor((DateTime.Now.Day / 30d) * 100))
            {
                color = "#CB4B16";
            }
            else
            {
                color = "#D33682";
            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-right">
                    @item.Balance.ToString("### ### ###")Ft
                </td>
                @if (item.Type == CategoryType.Expense)
                {
                    <td style="width: 100px;">
                        <div style="width: 100%; overflow: hidden; height: 23px; background-color: grey; border: 1px solid black; border-radius: 4px;" title="Monthly Limit: @item.MonthlyLimit, used: @item.MonthlyLimitUsed%">
                            <div style="width: @item.MonthlyLimitUsed%; height: 100%; background-color: @color;"></div>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
