@using Vinance.Contracts.Enumerations
@model IEnumerable<CategoryViewmodel>
@{
    var type = (CategoryType)ViewBag.Type;
    string title;
    switch (type)
    {
        case CategoryType.Expense:
            title = "Kiadás-kategóriák";
            break;
        case CategoryType.Income:
            title = "Bevétel-kategóriák";
            break;
        case CategoryType.Transfer:
            title = "Pénzmozgás-kategóriák";
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
    var createFormId = $"create-{type}-form-container";
}

<div class="table-title" style="background-color: #212529">
    @title
</div>
<table class="table table-bordered table-sm table-striped">
    <thead class="thead-dark form-group">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            @if (type == CategoryType.Expense)
            {
            <th>
                @Html.DisplayNameFor(model => model.MonthlyLimit)
            </th>
            }
            @if (ViewBag.Editable)
            {
                <th class="text-right" style="width: 65px">
                    <a class="d-inline-block text-success"
                       asp-controller="Category"
                       asp-action="CreateInTable"
                       asp-route-type="@type"
                       data-ajax="true"
                       data-ajax-method="GET"
                       data-ajax-update="#@createFormId"
                       data-ajax-mode="replace"><i data-feather="plus-circle"></i></a>
                </th>
            }
        </tr>
    </thead>
    <tbody>
    <tr class="" id="@createFormId"></tr>
    @foreach (var item in Model)
    {
        var rowId = $"category-{item.Id}";
        <tr id="@rowId">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-right">
                @(item.Balance == 0 ? "0Ft" : item.Balance.ToString("### ### ###") + "Ft")
            </td>
            @if (type == CategoryType.Expense)
            {
                var color = "";
                if (item.MonthlyLimitUsed >= 100)
                {
                    item.MonthlyLimitUsed = 100;
                }
                if (item.MonthlyLimitUsed < Math.Floor((DateTime.Now.Day / 30d) * 100) * 0.8)
                {
                    color = "#2AA198";
                }
                else if (item.MonthlyLimitUsed < Math.Floor((DateTime.Now.Day / 30d) * 100))
                {
                    color = "#CB4B16";
                }
                else
                {
                    color = "#D33682";
                }

                <td style="width: 100px;">
                    <div style="width: 100%; overflow: hidden; height: 23px; background-color: grey; border: 1px solid black; border-radius: 4px;" data-toggle="tooltip" data-original-title="Monthly Limit: @item.MonthlyLimit, used: @item.MonthlyLimitUsed%">
                        <div style="width: @item.MonthlyLimitUsed%; height: 100%; background-color: @color;"></div>
                    </div>
                </td>
            }
            @if (ViewBag.Editable)
            {
                <td class="text-right">
                    @if (item.CanBeDeleted)
                    {
                        <form class="d-inline-block"
                              asp-controller="Category"
                              asp-action="Delete"
                              data-ajax-method="POST"
                              data-ajax="true"
                              data-ajax-update="#category-tables"
                              data-ajax-mode="replace"
                              data-ajax-success="vinance.showAlert({message: 'Kategória sikeresen törölve', class:'success'})">
                            <input asp-for="@item.Id" class="d-none" name="categoryId">
                            <button type="submit" class="btn-table text-danger"><i data-feather="trash"></i></button>
                        </form>
                    }
                    <a class="d-inline-block text-warning"
                       asp-controller="Category"
                       asp-action="EditInTable"
                       asp-route-categoryId="@item.Id"
                       data-ajax="true"
                       data-ajax-method="GET"
                       data-ajax-update="#@rowId"
                       data-ajax-mode="replace"><i data-feather="edit-2"></i></a>
                </td>
            }
        </tr>
    }
    </tbody>
</table>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>