@model IEnumerable<Vinance.Contracts.Models.Domain.Account>

<table class="table table-sm table-bordered table-striped" id="account-list">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            @if (ViewBag.Editable)
            {
                <th class="text-right" style="width: 65px">
                    <a class="d-inline-block text-success"
                       asp-controller="Account"
                       asp-action="CreateInTable"
                       data-ajax="true"
                       data-ajax-method="GET"
                       data-ajax-update="#create-account-form-container"
                       data-ajax-mode="replace"><i data-feather="plus-circle"></i></a>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        <tr id="create-account-form-container"></tr>
        @foreach (var item in Model)
        {
            var rowId = $"account-{item.Id}";
            <tr id="@rowId">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-right">
                    @(item.Balance == 0 ? "0Ft" : item.Balance.ToString("### ### ###") + "Ft")
                </td>
                @if (ViewBag.Editable)
                {
                    <td class="text-right">
                        @if (item.CanBeDeleted)
                        {
                            <form class="d-inline-block"
                                  asp-controller="Account"
                                  asp-action="Delete"
                                  data-ajax-method="POST"
                                  data-ajax="true"
                                  data-ajax-update="#account-list"
                                  data-ajax-mode="replace"
                                  data-ajax-success="vinance.showAlert({message: 'Számla sikeresen törölve', class:'success'})">
                                <input asp-for="@item.Id" class="d-none" name="accountId">
                                <button type="submit" class="btn-table text-danger"><i data-feather="trash"></i></button>
                            </form>
                        }
                        <a class="d-inline-block text-warning"
                           asp-controller="Account"
                           asp-action="EditInTable"
                           asp-route-accountId="@item.Id"
                           data-ajax="true"
                           data-ajax-method="GET"
                           data-ajax-update="#@rowId"
                           data-ajax-mode="replace"><i data-feather="edit-2"></i></a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>