@using Vinance.Contracts.Models.Domain
@model IEnumerable<Account>
@{
    var accounts = ViewBag.Editable ? Model.ToList() : Model.Where(a => a.IsActive).ToList();
}

<table class="table table-sm table-bordered table-striped" id="account-list">
    <thead class="thead-dark">
        <tr>
            <th colspan="2">
                Számlák
            </th>
            @if (ViewBag.Editable)
            {
                <th class="text-right" style="width: 65px">
                    <a class="d-inline-block text-success"
                       asp-controller="Account"
                       asp-action="CreateInTable"
                       data-ajax="true"
                       data-ajax-method="GET"
                       data-ajax-update="#create-account-form-container"
                       data-ajax-mode="replace"><i class="fas fa-plus"></i></a>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        <tr id="create-account-form-container"></tr>
        @if (!accounts.Any())
        {
            <tr>
                @if (ViewBag.Editable)
                {
                    <td colspan="3">Még nem hoztál létre számlát</td>
                }
                else
                {
                    <td colspan="2">Még nem hoztál létre számlát</td>
                }
            </tr>
        }
        else
        {

            foreach (var item in accounts)
            {
                var rowId = $"account-{item.Id}";
                <tr id="@rowId">
                    <td>
                        @if (ViewBag.Editable)
                        {
                            <a asp-controller="Account"
                               asp-action="GetDailyBalance"
                               asp-route-accountId="@item.Id"
                               data-ajax-method="GET"
                               data-ajax="true"
                               data-ajax-update="#daily-balance-container"
                               data-ajax-mode="replace">
                                @Html.DisplayFor(modelItem => item.Name)
                            </a>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Name)
                        }
                        @if (item.IsSaving)
                        {
                            <span class="text-success"><i class="fas fa-piggy-bank"></i></span>
                        }
                        @if (!item.IsActive)
                        {
                            <span class="text-danger"><i class="fas fa-ban"></i></span>
                        }
                    </td>
                    <td class="text-right">
                        @(item.Balance == 0 ? "0Ft" : item.Balance.ToString("### ### ###") + "Ft")
                    </td>
                    @if (ViewBag.Editable)
                    {
                        <td class="text-right">
                            @if (item.CanBeDeleted)
                            {
                                <form class="d-inline-block"
                                      asp-controller="Account"
                                      asp-action="Delete"
                                      data-ajax-method="POST"
                                      data-ajax="true"
                                      data-ajax-update="#account-list"
                                      data-ajax-mode="replace"
                                      data-ajax-success="vinance.showAlert({message: 'Számla sikeresen törölve', class:'success'})">
                                    <input asp-for="@item.Id" class="d-none" name="accountId">
                                    <button type="submit" class="btn-table text-danger"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            }
                            <a class="d-inline-block text-warning"
                               asp-controller="Account"
                               asp-action="EditInTable"
                               asp-route-accountId="@item.Id"
                               data-ajax="true"
                               data-ajax-method="GET"
                               data-ajax-update="#@rowId"
                               data-ajax-mode="replace"><i class="fas fa-pen"></i></a>
                        </td>
                    }
                </tr>
            }
            <tr>
                <th>
                    Összesen
                </th>
                <th class="text-right">
                    @accounts.Sum(x => x.Balance).ToString("### ### ### Ft")
                </th>
                @if (ViewBag.Editable)
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>