@model IEnumerable<Vinance.Contracts.Models.Domain.Account>

<table class="table table-sm table-bordered table-striped" id="account-list">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            @if (ViewBag.Editable)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-right">
                    @(item.Balance == 0 ? "0Ft" : item.Balance.ToString("### ### ###") + "Ft")
                </td>
                @if (ViewBag.Editable)
                {
                    <td>
                        @if (item.CanBeDeleted)
                        {
                            <form class="d-inline-block"
                                  asp-controller="Account"
                                  asp-action="Delete"
                                  data-ajax-method="POST"
                                  data-ajax="true"
                                  data-ajax-update="#account-list"
                                  data-ajax-mode="replace"
                                  data-ajax-success="showAlert({message: 'Számla sikeresen törölve', class:'success'})">
                                <input asp-for="@item.Id" class="d-none" name="accountId">
                                <button type="submit" class="btn-table text-danger"><i data-feather="trash"></i></button>
                            </form>
                            <a class="d-inline-block text-warning"
                               asp-controller="Account"
                               asp-action="Edit"
                               asp-route-accountId="@item.Id"
                               data-ajax="true"
                               data-ajax-method="GET"
                               data-ajax-update="#edit-account"
                               data-ajax-mode="replace"><i data-feather="edit-2"></i></a>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<script>
    feather.replace({ height: 20, width: 20 });
</script>